---
export const prerender = true
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}/>
  <title>Astro</title>
</head>
<body>
  <div class="center">
    <h2>I'm just barely here -- Studio is the interest...</h2>
    <h3>(for that,
      <a href="/studio"> http://localhost:4321/studio)</a>
    </h3>
  </div>
</body>
</html>


<style>
  .center {
    text-align: center;
  }
</style>